body {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-title {
  line-height: 122px;
  font-size: 48px;
}

.bold > a {
  font-weight: bold;
}

nav.top-nav{
  box-shadow: none;
}

.grande{
  font-size: 2rem;
}

nav ul#mobileNavBar.side-nav li.bold:hover{
  background-color: rgba(0, 0, 0, 0.05) !important;
}

li.no-padding{
  background-color: transparent !important;
}

.side-nav .collapsible-body li.active, .side-nav.fixed .collapsible-body li.active{
  background-color: #00bcd4;
}

.side-nav li:hover, .side-nav li.active {
  background-color: rgba(0, 0, 0, 0.05);
}

i#logoQuarepo.left {
  margin-right: 0 !important;
}

.header{
  font-weight: 300;
}

.sinMargen{
  margin-top: 0;
  margin-bottom: 0;
}

.mt400{
  margin-top: 100px;
}
