<template name="sinDatos">
	<div class="row">
		{{> nuevoElemento}}
		<div class="col s12">
			<div class="card-panel yellow">
				<i class="material-icons left cyan-text text-darken-2">warning</i>
				<span class="cyan-text text-darken-2">No se encontró información al respecto.</span>
			</div>
		</div>
	</div>
</template>

<template name="sinDatosNoButton">
	<div class="row">
		<div class="col s12">
			<div class="card-panel yellow">
				<i class="material-icons left cyan-text text-darken-2">warning</i>
				<span class="cyan-text text-darken-2">No
					se encontró información al respecto.</span>
			</div>
		</div>
	</div>
</template>
