<template name="sinDatos">
	<div class="row">
		{{> nuevoElemento}}
		<div class="col s12">
			<div class="card-panel bold500 lime accent-2 green-text text-darken-3">
				<i class="material-icons left">warning</i>
				<span>No se encontró información al respecto.</span>
			</div>
		</div>
	</div>
</template>

<template name="sinDatosNoButton">
	<div class="row">
		<div class="col s12">
			<div class="card-panel lime accent-2 green-text text-darken-3">
				<i class="material-icons left">warning</i>
				<span>No
					se encontró información al respecto.</span>
			</div>
		</div>
	</div>
</template>
