<template name="home">
	<div class="row">
		<div class="col s12">
			<div class="card-panel cyan darken-1">
				<span class="white-text">
					Quarepo es un sistema que te ayudará a encontrar toda la información que se utiliza
					en el equipo de Integración.<br/>
					Estos son nuestro carismaticos integrantes:
				</span>
			</div>
		</div>

		<!-- for each-->
		<div class="col s12 m8 offset-m2 l6 offset-l3">
			<div class="card-panel grey lighten-5 z-depth-1">
				<div class="row valign-wrapper">
					<div class="col s4 m2">
						<img src="colaboradores/lmessi.jpg" alt="" class="responsive-img valign">
					</div>
					<div class="col s8 m10">
						<span class="black-text">Compartir información es lo más importante </span>
					</div>
				</div>
			</div>
		</div>
		<!-- FIN for each-->
	</div>
</template>
