<template name="datosTipoRolNew">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col l3 s6 m3">
          <input id="txtNombre" type="text" class="validate" required>
          <label for="txtNombre">Nombre</label>
        </div>
        <div class="col l2 s6 m3 selectAlign">
          <label>Estado</label>
          <select class="browser-default" id="selEstado">
            <option value="1" selected>Activo</option>
            <option value="2">Inactivo</option>
          </select>
        </div>
      </div>
      <button id="submit" class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>

  <!-- <input type="hidden" id="data_sequence" value={{data_sequence}}> -->
</template>

<template name="datosTipoRol">
  <div class="row">
    {{> nuevoElemento}}
    <div class="col s12 m6 l6 pb70">
      <table class="responsive-table striped">
        <thead>
          <tr>
            <th data-field="id" width="10%">Id</th>
            <th data-field="nombre" width="40%">Nombre</th>
            <th data-field="estado" width="40%">Estado</th>
            <th data-field="editar" width="5%">Editar</th>
            <th data-field="eliminar" width="5%">Eliminar</th>
          </tr>
        </thead>
        <tbody class="letraCapital">
          {{#each roles}}
          <tr>
            <td>{{_id}}</td>
            <td>{{nombre}}</td>
            <td>{{estado}}</td>
            <td class="mod pointer" data-id={{_id}}><i class="material-icons" >description</i></td>
            <td class="del pointer" data-id={{_id}}><i class="material-icons">delete</i></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
