<template name="perfil">
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="row valign-wrapper">
          <div class="col s6">
            <img src="colaboradores/lmessi.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
          </div>
          <div class="col s6">
            <span class="black-text">
              This is a square image. Add the "circle" class to it to make it appear circular.
            </span>
          </div>
        </div>
    </div>
  </div>
</template>
