<template name="colClaroNew">
	<div class="row">
		<form class="col s12 pb70">
			<div class="row">
				<div class="input-field col l6 m8 s12">
					<input id="txtNombre" type="text" class="validate" required autofocus>
					<label id="lblNombre" for="txtNombre">Nombres y Apellidos</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l4 m6 s12">
					<input id="txtEmail" type="email" class="validate" required>
					<label for="txtEmail">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l4 m5 s12">
					<input id="txtCelular" type="text" class="validate" maxlength="9" required>
					<label for="txtCelular">Celular o Teléfono</label>
				</div>
			</div>
			<div class="row">
				<div class="col l3 m4 s12 selectAlign mb15">
					<label>Tipo Rol</label>
					<select class="browser-default letraCapital" id="selTipoRol">
						{{#each selTipoRol}}
						<option value={{_id}}>{{nombre}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col l3 m4 s12 selectAlign">
					<label>Empresa</label>
					<select class="browser-default letraCapital" id="selEmpresa">
						{{#each selEmpresa}}
						<option value={{_id}}>{{nombre}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<button id="submit" class="btn waves-effect waves-light" type="submit">Guardar
				<i class="material-icons right">send</i>
			</button>
			<a id="btnCancelar" class="btn waves-effect waves-light red darken-2"
			href="{{pathFor route='colClaro'}}">Cancelar
		</a>
	</form>
</div>
</template>

<template name="colClaroEdit">
	<div class="row">
		<form class="col s12 pb70">
			<div class="row">
				<div class="input-field col l6 m8 s12">
					<input id="txtNombre" type="text" class="validate" required autofocus>
					<label for="txtNombre">Nombres y Apellidos</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l4 m6 s12">
					<input id="txtEmail" type="email" class="validate" required>
					<label for="txtEmail">Email</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l4 m5 s12">
					<input id="txtCelular" type="text" class="validate" maxlength="9" required>
					<label for="txtCelular">Celular o Teléfono</label>
				</div>
			</div>
			<div class="row">
				<div class="col l3 m4 s12 selectAlign mb15">
					<label>Tipo Rol</label>
					<select class="browser-default letraCapital" id="selTipoRol">
						{{#each selTipoRol}}
						<option value={{_id}}>{{nombre}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col l3 m4 s12 selectAlign">
					<label>Empresa</label>
					<select class="browser-default letraCapital" id="selEmpresa">
						{{#each selEmpresa}}
						<option value={{_id}}>{{nombre}}</option>
						{{/each}}
					</select>
				</div>
			</div>
			<button id="submit" class="btn waves-effect waves-light" type="submit">Guardar
				<i class="material-icons right">send</i>
			</button>
			<a id="btnCancelar" class="btn waves-effect waves-light red darken-2"
			href="{{pathFor route='colClaro'}}">Cancelar
		</a>
	</form>
</div>
</template>

<template name="colClaro">
	<div class="row">
		{{> nuevoElemento}}
		<div class="col l3 m3 s12">
			<label>Tipo Rol</label>
			<select class="browser-default letraCapital" id="selTipoRol">
				<option value="0" selected>Todos</option>
				{{#each selTipoRol}}
				<option value={{_id}} class="letraCapital">{{nombre}}</option>
				{{/each}}
			</select>
		</div>
		<div class="col l9 m9 s12">
			<label for="txtBuscar" class="esconder">Buscar</label>
			<input type="text" id="txtBuscar" autofocus placeholder="Buscar por tipo rol nombre, celular o email">
		</div>
		<div class="col s12 pb70">
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th data-field="nombre" width="30%">Nombre</th>
						<th data-field="rol" width="10%" class="center">Rol</th>
						<th data-field="celular" width="15%" class="center">Celular</th>
						<th data-field="email" width="15%" class="center">Email</th>
						<th data-field="empresa" width="10%" class="center">Empresa</th>
						<th data-field="editar" width="10%" class="center">Editar</th>
						<th data-field="eliminar" width="10%" class="center">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					{{#each personas}}
					<tr>
						<td>{{nombre}}</td>
						<td class="letraCapital center">{{rolTxt}}</td>
						<td class="center">{{celular}}</td>
						<td class="center">{{email}}</td>
						<td class="letraCapital center">{{empresaTxt}}</td>
						<td class="mod pointer center"><i class="material-icons teal-text darken-4" >description</i></td>
						<td class="del pointer center"><i class="material-icons red-text darken-2">delete</i></td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>
