<template name="colClaroNew">
	{{#if rwindow.screen 'lte' 'xsmall'}}
	  {{> colClaroNew_xsmall}}
	{{else}}
		{{> colClaroNew_large}}
	{{/if}}
</template>

<template name="colClaro">
	<div class="row">
		{{> nuevoElemento}}
		<div class="col l2 m3 s4">
			<label>Tipo Rol</label>
			<select class="browser-default" id="selRolColClaro">
	      <option value="0" selected>Todos</option>
				{{#each selTiposRol}}
				<option value={{_id}} class="letraCapital">{{nombre}}</option>
				{{/each}}
	    </select>
		</div>
		<div class="col l10 m9 s8">
			<label for="txtBuscar" class="esconder">Buscar</label>
			<input type="text" id="txtBuscar" placeholder="Buscar por tipo rol nombre, celular o email">
		</div>
		<div class="col s12 pb70">
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th data-field="nombre">Nombre</th>
						<th data-field="rol">Rol</th>
						<th data-field="celular">Celular</th>
						<th data-field="email">Email</th>
						<th data-field="empresa">Empresa</th>
					</tr>
				</thead>
				<tbody>
					{{#each personas}}
					<tr>
						<td>{{nombre}}</td>
						<td>{{rol}}</td>
						<td>{{celular}}</td>
						<td>{{email}}</td>
						<td>{{empresa}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>
