<template name="colClaroNew">
	<div class="row">
		<form class="col s12">
			<div class="row">
				<div class="input-field col l6 s12 m8">
					<input id="txtNombre" type="text" class="validate" required>
					<label for="txtNombre">Nombres y Apellidos</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l3 s12 m4">
					<input id="txtRol" type="text" class="validate" required>
					<label for="txtRol">Rol</label>
				</div>
				<div class="input-field col l3 s12 m4">
					<input id="txtCelular" type="number" class="valid  ate" maxlength="9" required>
					<label for="txtCelular">Celular</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col l3 s12 m4">
					<input id="txtEmail" type="email" class="validate" required>
					<label for="txtEmail">Email</label>
				</div>
				<div class="input-field col l3 s12 m4">
					<input id="txtEmpresa" type="text" class="validate" value="Claro" required>
					<label for="txtEmpresa" class="active">Empresa</label>
				</div>
			</div>
			<button id="submit" class="btn waves-effect waves-light" type="submit">Submit
				<i class="material-icons right">send</i>
			</button>
		</form>
	</div>
</template>

<template name="colClaro">
	<div class="row">
		{{> nuevoElemento}}
		<div class="col l2 m3 s4">
			<select class="browser-default" id="selRolColClaro">
	      <option value="0" selected>Todo</option>
	      <option value="1">Funcional</option>
	      <option value="2">Desarrollador</option>
	      <option value="3">Lider QA</option>
				<option value="4">Usuario</option>
				<option value="5">SOAP</option>
	    </select>
		</div>
		<div class="col l10 m9 s8">
			<input type="text" id="txtBuscar" placeholder="Buscar por nombre, celular, email, etc">
		</div>
		<div class="col s12 pb70">
			<table class="responsive-table striped">
				<thead>
					<tr>
						<th data-field="nombre">Nombre</th>
						<th data-field="rol">Rol</th>
						<th data-field="celular">Celular</th>
						<th data-field="email">Email</th>
						<th data-field="empresa">Empresa</th>
					</tr>
				</thead>
				<tbody>
					{{#each personas}}
					<tr>
						<td>{{nombre}}</td>
						<td>{{rol}}</td>
						<td>{{celular}}</td>
						<td>{{email}}</td>
						<td>{{empresa}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
</template>
