<template name="colClaroNew">
	<div id="crearNuevo" class="modal modal-fixed-footer">
		<div class="modal-content">
			<div class="row">
				<form class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<input id="txtNombre" type="text" class="validate">
							<label for="txtNombre">Nombres y Apellidos</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="txtRol" type="text" class="validate">
							<label for="txtRol">Rol</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="txtCelular" type="number" class="validate">
							<label for="txtCelular">Celular</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="txtEmail" type="email" class="validate">
							<label for="txtEmail">Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="txtEmpresa" type="text" class="validate" value="Claro">
							<label for="txtEmpresa" class="active">Empresa</label>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
		</div>
	</div>
</template>

<template name="colClaroList">
	<table class="responsive-table">
		<thead>
			<tr>
				<th data-field="nombre">Nombre</th>
				<th data-field="rol">Rol</th>
				<th data-field="celular">Celular</th>
				<th data-field="email">Email</th>
				<th data-field="empresa">Empresa</th>
			</tr>
		</thead>
		<tbody>
			{{#each personas}}
			<tr>
				<td>{{nombre}}</td>
				<td>{{rol}}</td>
				<td>{{celular}}</td>
				<td>{{email}}</td>
				<td>{{empresa}}</td>
			</tr>
			{{/each}}

		</tbody>
	</table>
</template>
